{% extends 'base.html' %}
{% load static %}

{% block title %}Books{% endblock %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/books.css' %}">

{% endblock %}

{% block content %}

<div class="cari-buku">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 id="cari-buku-title">Books</h1>
            <div class ="main-form" style="width: 50%; margin: 0 auto">
    
                <div class="form-group">
                    <input id='search-box' class="form-control" type="text" placeholder="Search for books name or author here">
                </div>
                <div class="form-group">
                    <button id="search-button" name="search-button" class="status-button save btn btn-light center"
                    style="font-family: Poppins-SemiBold; background-color: #CB9A7C; color: white; float: right; margin: 0 auto 20% auto"
                    >Search</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="hasil-pencarian" style="background-color: #F2ECB6; height: 85vh; width: 100%; overflow: scroll">
    <div class='table-responsive'>
        <table class="table table-fixed">
            <thead class="text-center" style="background-color: #A96F44; color: #F7EEE5; font-family: Poppins-SemiBold">
                <tr>
                    <th scope="col" width="2.5%">No.</th>
                    <th scope="col" width="22.5%">Cover</th>
                    <th scope="col" width="22.5%">Title</th>	
                    <th scope="col" width="15%">Authors</th>
                    <th scope="col" width="15%">Publisher</th>
                    <th scope="col" width="15%">Published Date</th>
                    <th scope="col" width="10%">Details</th>
                </tr>
            </thead>
            <tbody id="books-body" class="text-center" style="font-family: Poppins-Light; background-color: #F2ECB6;">
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/books.js' %}"></script>

{% endblock %}