@font-face {
    font-family: Welcome;
    src: url('/static/font/Welcome.ttf');
}
@font-face {
    font-family: Shorelines Script;
    src: url('/static/font/Shorelines_Script_Bold.otf');
}
@font-face {
    font-family: Poppins-Light;
    src: url('/static/font/Poppins-Light.ttf');
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url('/static/font/Poppins-SemiBold.ttf');
}

body{
    overflow-x: hidden;
}

.tanya-kabar {
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position:center;
    background-image: url('/static/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.tanya-kabar h1 {
    font-family: Welcome;
    font-size: 125px;

    text-align: center;

    color: #F7EEE5;
}

.tanya-kabar label {
    font-family: Poppins-SemiBold;
    font-size: 20px;

    color: #F7EEE5;
}

.data-kabar {
    background-color: #CB9A7C;
}

.data-kabar h1 {
    font-family: Welcome;
    font-size: 100px;

    text-align: center;
    margin: 10px;

    color: #F7EEE5;
}

.data-kabar p {
    font-family: Poppins-Light;
    font-size: 16px;
}