@font-face {
    font-family: Welcome;
    src: url('/static/font/Welcome.ttf');
}
@font-face {
    font-family: Shorelines Script;
    src: url('/static/font/Shorelines_Script_Bold.otf');
}
@font-face {
    font-family: Poppins-Light;
    src: url('/static/font/Poppins-Light.ttf');
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url('/static/font/Poppins-SemiBold.ttf');
}

body{
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

.hello-page {
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position:center;
    background-image: url('/static/images/profile-background-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.hello-page h1{
    font-family: Shorelines Script;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;

    align-items: center;
    text-align: center;

    color: #54504C;

    text-shadow: 0px 4px 4px rgb(255, 255, 255);

    margin-top: 25vh;
}

.hello-page h2{
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    align-items: center;
    text-align: center;

    color: #86817C;

    text-shadow: 0px 4px 4px rgb(255, 255, 255);
}

.about-me-content {
    background-color: #F2ECB6;
}

.about-me-text {
    background-color: #A96F44;
}

.about-me h1 {
    font-family: Shorelines Script;
    font-size: 35px;

    text-align: center;

    margin: 2.5% auto;

    color: white;
}

.about-me p {
    font-family: Poppins-Light;
    font-size: 16px;
}

#profile-photo {
    border-radius: 50%;
    border: 10px solid #CEA47E;

    width: 350px;
    height: 350px;
}

.short-info-box {
    width: 75%;
    height: auto;

    background-color: #EAC77D;

    border-radius: 40px;
    
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;

    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 5%;
}

.short-info-box h2 {
    font-family: Shorelines Script;
    font-size: 24px;
    text-decoration: underline;
    color: #464318;

    text-align: center;
}

.short-info-box li {
    margin-top: 7.5%;
    margin-left: 10%;
    line-height: 1.25;
    color: #464318;
    font-family: Poppins-SemiBold;
    font-size: 14px;
}

.short-info-box li span{
    display: block;
    margin-top: -25px;
    margin-left: 175px;
    color: black;
    font-family: Poppins-Light;
}

.resume-text {
    background-color: #A96F44;
}

.resume h1 {
    font-family: Shorelines Script;
    font-size: 35px;

    text-align: center;

    color: white;

    margin: 2.5% auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #F2ECB6;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;

  font-family: Poppins-SemiBold;
  font-size: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #EDCF91;
  color: black;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #F7F7F7;
  color: black;
  display: none;
  overflow: hidden;
}

.panel p {
    font-family: Poppins-Light;
    font-size: 16px;

    text-align: center;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 16px;
    color: white;
    float: right;
    margin-left: 5px;

    font-family: Poppins-Light;
    font-size: 14px;
  }
  
.active:after {
content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.contact-content {
    background-color: #F2ECB6;
}

.contact-text {
    background-color: #A96F44;
}

.contact h1 {
    font-family: Shorelines Script;
    font-size: 35px;

    text-align: center;

    margin: 2.5% auto;

    color: white;
}

.contact div h2 {
    font-family: Poppins-Light;
    font-size: 20px;

    text-align: center;

    margin: 2.5% auto;
}

.contact h4 {
    font-family: Poppins-SemiBold;
    font-size: 18px;

    text-align: center;

    margin: auto 10%;
}

#logo-circle {
    height: 75px;
    width: 75px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    
    margin-top: 2.5%;
    margin-left: 20%;
    margin-right: 5%;
    margin-bottom: 5%;

    display: inline-block;

    background-color: #CEA47E;
}

#kotak-kontak {
    background-color: #EAC77D;
    border-radius: 15px;
    padding: 2.5%;
}

#kotak-kontak p {
    font-family: Poppins-Light;
    font-size: 14px;
}

#kotak-kontak a {
    font-family: Poppins-Light;
    font-size: 14px;

    color: black;
}