{% extends 'base.html' %}
{% load static %}

{% block title %}Status{% endblock %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% endblock %}


{% block content %}
<div class="tanya-kabar">
    <div class="row">
            <div class="col-md-12">
                <h1 id="hello" style="margin-top: 5%">{{ text }}</h1>
                <form id="form" style="width: 75%; margin: 0 auto" method="POST" action="{% url 'story6:add_status' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="status">
                            <strong>{{ form.status.label_tag }}</strong>
                        </label>
                        {{ form.status }}
                    </div>
                    
                    <button id="submit" type="submit" class="btn btn-light" style="font-family: Poppins-SemiBold; background-color: #CB9A7C; color: white; float: right; margin-bottom: 12.5%" value="Save">Add</button>
                </form>
            </div>
        </div>
</div>

<div class="data-kabar">
    <div class="row">
        <div class="col-md-12">
            {% if data %}
            <h1>Kumpulan perasaan dan curhatan</h1>

            <div class="row" style="margin-left: 5%; margin-right: 5%">
                {% for list in data %}
                <div id="curhatan" class="col-xs-12 col-sm-11 col-md-11 col-lg-2 col-xl-2" style="background-color: #FFF1E6; border-radius: 15px; padding: 15px; margin: 1.5%; box-shadow: 10px 10px 5px grey;">
                    <p><strong>{{ list.date }}</strong></p>
                    <p>{{ list.status }}</p>
                </div>
                {% endfor %}
            </div>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}