{% extends 'base.html' %}
{% load static %}

{% block title %}❀ Welcome | Inez Amandha ❀{% endblock %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

{% endblock %}

{% block content %}
<div class="hello-page">
    <div class="row" style="width: 100%; height: 100%">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1> ✿ hello! i'm inez ✿ </h1>
            <h2 style="margin-top: 2.5%"> ~ a computer science undergraduate student ~</h2>
            <h2> & </h2>
            <h2 style="margin-bottom: 50vh"> ~ an aesthetic seeker ~ </h2> 
        </div>
    </div>
</div>

<div class="about-me">
    <div class="about-me-text">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1> about me </h1>
            </div>
        </div>
    </div>

    <div class="about-me-content">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <img id="profile-photo" src="{% static 'images/profile-photo.jpg' %}" style="margin: 7.5%">
            </div>
    
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <p style="margin: 5% 2.5%">Inez Amandha (18) is a Computer Science Undergraduate Student at Faculty of Computer Science, Universitas Indonesia.
                    <br><br>
                    Inez loves to travel and go to the aesthetic places. While travelling, she will take some photos (food & places) and share her reviews on social media.
                    <br><br>
                    Currently, she is still learning how to make a website.
                    <br><br>
                    💻 And this is her second website! 💻
                    <br><br>
                    Go to main website:
                    <br>
                    <a href="https://inezamandha.herokuapp.com/" style="font-family: Poppins-Light; font-size: 16px; color: black">inezamandha.herokuapp.com</a>
                </p>
            </div>
    
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5">
                <ul class="short-info-box">
                    <li>
                        <h2>my short info</h2>
                    </li>
                    <li>
                        <label>Name</label>
                        <span>Inez Amandha Suci</span>
                    </li>
                    <li>
                        <label>Age</label>
                        <span>18</span>
                    </li>
                    <li>
                        <label>Birthdate</label>
                        <span>December 21, 2000</span>
                    </li>
                    <li>
                        <label>Address</label>
                        <span>Depok, West Java, Indonesia</span>
                    </li>
                    <li>
                        <label>Education</label>
                        <span>University of Indonesia</span>
                    </li>
                    <li>
                        <label>Major</label>
                        <span>Computer Science (Class of 2018)</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>

<div class="resume">
    <div class="resume-text">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1> resume </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button class="accordion"><span>&#10022;</span> Activities <span>&#10022;</span></button>
            <div class="panel">
                <p style="margin-top: 1.5%;"><span>&#9998;</span> <strong>Me in Term 3: </strong></p>
                <p>Bangun Tidur <span>&#8594;</span> Kuliah <span>&#8594;</span> Rapat <span>&#8594;</span> Tidur <span>&#8594;</span> Repeat</p>
                <p><strong>#Notes</strong></p>
                <p>Nugas berada di sela-sela waktu kosong dari semua itu</p>
                <br>
                <p><span>&#9998;</span> <strong>Me on weekend: </strong></p>
                <p style="margin-bottom: 1.5%;">Masih nugas + jalan-jalan (harus disempetin! hehe)</p>
            </div>
            
            <button class="accordion"><span>&#10022;</span> Educations <span>&#10022;</span></button>
            <div class="panel">
                <p style="margin-top: 1.5%;"><span>&#9998;</span> <strong>Universitas Indonesia</strong> (2018 - sekarang) </p>
                <p>Fakultas Ilmu Komputer</p>
                <br>
                <p><span>&#9998;</span> <strong>SMAN 34 Jakarta</strong> (2015 - 2018) </p>
                <p>Jurusan IPA</p>
                <br>
                <p><span>&#9998;</span> <strong>SMPN 85 Jakarta</strong> (2012 - 2015) </p>
                <br>
                <p><span>&#9998;</span> <strong>SDN Pondok Labu 11 Pagi</strong> (2009 - 2012) </p>
                <br>
                <p><span>&#9998;</span> <strong>SDN Pondok Labu 05 Pagi</strong> (2006 - 2009) </p>
                <br>
                <p style="margin-bottom: 1.5%;"><span>&#9998;</span> <strong>TK Pertiwi VI DDN Pondok Labu</strong> (2004 - 2006) </p>
            </div>

            <button class="accordion"><span>&#10022;</span> Experiences <span>&#10022;</span></button>
            <div class="panel">
                <p style="margin-top: 1.5%"><span>&#9998;</span> <strong>BEM Fasilkom UI</strong> (2019 - sekarang) </p>
                <p>Staf Departemen Keilmuan</p>
                <br>
                <p><span>&#9998;</span> <strong>COMPFEST 11</strong> (2019) </p>
                <p>Staf Divisi Startup Academy</p>
                <br>
                <p><span>&#9998;</span> <strong>Wisuda Fasilkom UI</strong> (2019) </p>
                <p style="text-decoration: underline;"><strong>Wisuda Genap</strong></p>
                <p>PJ Divisi Konsumsi</p>
                <p style="text-decoration: underline;"><strong>Wisuda Ganjil</strong></p>
                <p>Staf Divisi Konsumsi</p> 
                <br>
                <p><span>&#9998;</span> <strong>BETIS 2019</strong> (2019) </p>
                <p>Staf Divisi Dana Usaha & Konsumsi</p>
                <br>
                <p><span>&#9998;</span> <strong>Social Project 2018</strong> (2018) </p>
                <p>Staf Divisi Dana Usaha & Konsumsi</p>
                <br>
                <p><span>&#9998;</span> <strong>High School Celebration</strong> (2016 - 2017) </p>
                <p>Staf Divisi Sponsorship</p>
                <br>
                <p><span>&#9998;</span> <strong>MPK SMAN 34 Jakarta</strong> (2015 - 2017) </p>
                <p style="text-decoration: underline;"><strong>2016 - 2017</strong></p>
                <p>Staf Komisi F (Kualitas Jasmani, Kesehatan, dan Gizi)</p>
                <p style="text-decoration: underline;"><strong>2015 - 2016</strong></p>
                <p style="margin-bottom: 1.5%">Wakil Humas</p>
            </div>
            
            <button class="accordion"><span>&#10022;</span> Achievements <span>&#10022;</span></button>
            <div class="panel">
                <p style="margin-top: 1.5%"><span>&#9998;</span> <strong>Berhasil membuat website!</strong> (2019) </p>
                <br>
                <p><span>&#9998;</span> <strong>Lomba Tari Saman Pangudi Luhur Cup 2013</strong> (2013) </p>
                <p>Juara 1</p>
                <br>
                <p><span>&#9998;</span> <strong>Lomba Menyanyi Tingkat TK se-Pondok Labu</strong> (2005) </p>
                <p>Juara 2</p>
                <br>
                <p><span>&#9998;</span> <strong>Lomba Mewarnai Tingkat TK se-Pondok Labu</strong> (2005) </p>
                <p style="margin-bottom: 1.5%">Juara 1</p>
            </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="contact-text">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1> contact </h1>
            </div>
        </div>
    </div>

    <div class="contact-content">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2>Hey, there! Let's connect! ❤ </p> 
            </div>
        </div>
    
        <div class="row">
            <div id="kotak-kontak" style="width: 350px; margin: auto 2.5% 2.5% 2.5%;">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                    <p><strong>E-mail :</strong></p>
                    <p>inezamandhasuci@gmail.com</p>
                    <p><strong>Main Website :</strong></p>
                    <a href="https://inezamandha.herokuapp.com/">inezamandha.herokuapp.com</a>
                </div>
            </div>
    
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div id="logo-circle">
                    <a href="https://www.instagram.com/inezamandha/">
                        <img src="{% static 'images/logo-instagram.png' %}" style="width: 55px; height: 55px; margin-top: 12.5%;">
                    </a>
                </div>
                <a href="https://www.instagram.com/inezamandha/" style="color: black;">
                    <h4 style=" display: inline-block;">Instagram</h4>
                </a>
            
                <div id="logo-circle">
                    <a href="https://twitter.com/inezamandha">
                        <img src="{% static 'images/logo-twitter.png' %}" style="width: 55px; height: 55px; margin-top: 12.5%;">
                    </a>
                </div>
                <a href="https://twitter.com/inezamandha" style="color: black;">
                    <h4 style=" display: inline-block;">Twitter</h4>
                </a>
            </div>
    
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">      
                <div id="logo-circle">
                    <a href="https://id.pinterest.com/inezamandha/">
                        <img src="{% static 'images/logo-pinterest.png' %}" style="width: 55px; height: 55px; margin-top: 12.5%;">
                    </a>
                </div>
                <a href="https://id.pinterest.com/inezamandha/" style="color: black;">
                    <h4 style=" display: inline-block;">Pinterest</h4>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}