<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block styles %}{% endblock %}
    </head>

    <body>        
            <nav class="navbar navbar-expand-md navbar-light fixed-top justifiy-content-end"
            style="background: rgba(240, 227, 219, 0.65);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Averia Regular;
            font-size: 22px;">
            <div class="container-fluid">
                <div class="navbar-nav mr-auto">
                    <button id="theme" class="btn btn-secondary" type="button" style="background-color: #CB9A7C; margin-left: 10px">Change Theme</button> 
                </div>
                
                <button type="button" class="navbar-toggler navbar-nav ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-center" id="navbarCollapse">
                        <div class="nav navbar-nav mx-auto">
                            <a href="{% url 'story7:profile' %}" class="nav-item nav-link" style="color: #454416;">home</a>
                            <a href="{% url 'story6:index' %}" class="nav-item nav-link" style="color: #454416">status</a>
                            <a href="{% url 'story8:books' %}" class="nav-item nav-link" style="color: #454416">books</a>
                        </div>

                        <div class="navbar-nav ml-auto">
                            {% if user.is_authenticated %}
                                <p style="font-size: 18px; text-align: center; margin: 10px 20px; color: #454416">Welcome, {{ user.first_name }} {{ user.last_name }}! 👋</p>
                                <button id="logout" class="btn btn-secondary" type="button" style="background-color: #CB9A7C; margin-left: 10px">
                                    <a href="{% url 'story9:logoutView' %}" style="text-decoration: none; color: white">Logout</a>
                                </button>
            
                            {% else %}
                                <p style="font-size: 18px; text-align: center; margin: 10px 20px; color: #454416">Welcome, User! 👋</p>
                                <button id="login" class="btn btn-secondary" type="button" style="background-color: #CB9A7C; margin-left: 10px">
                                    <a href="{% url 'story9:loginView' %}" style="text-decoration: none; color: white">Login</a>
                                </button>
                                
                            {% endif %}
                            
                        </div>   

                            
                </div>

                
                
                
                    
               
            </div>    
            </nav>
    

        {% block content %} {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        {% block scripts %}{% endblock %}
    </body>
</html>