{% extends 'base.html' %}
{% load static %}

{% block title %}Login and Sign Up{% endblock %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login_signup.css' %}">

{% endblock %}

{% block content %}

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="POST" action="#">
            {% csrf_token %}
            <h1>Create Account</h1>
            <div class="form-row" style="margin-top: 15px">
                <div class="col">
                    <input type="text" name="first-name" id="first-name_login" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" name="last-name" id="last-name_login" class="form-control" placeholder="Last name">
                </div>
            </div>
            <input type="text" name="username" id="username_login" placeholder="Username" />
			<input type="email" name="email" id="email_login" placeholder="Email" />
			<input type="password" name="password" id="password_login" placeholder="Password" style="margin-bottom: 20px" />
            <button type="submit" id="submit_login">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="POST" action="#">
            {% csrf_token %}
            
            <h1>Sign in</h1>
            <input type="text" name="username" id="username_login" placeholder="Username" style="margin-top: 35px" />
			<input type="password" name="password" id="password_login" placeholder="Password" style="margin-bottom: 25px" />
            <button type="submit" id="submit_login">Sign In</button>

		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with me please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Don't have an account?
                    <br>
                    Just enter your personal details and start journey with me</p>
                <button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/login_signup.js' %}"></script>
{% endblock %}