{% extends 'base.html' %}
{% load static %}

{% block title %}Logout{% endblock %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/logout.css' %}">

{% endblock %}

{% block content %}

<div class="form-logout">
    <h1>Logout</h1>
    <p>Are you sure you want to log out?</p>

    <div class="button-logout" style="text-align: center; margin: 0 auto;">
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit" name="logout" id="logout"
            style="background-color: #CA9E7B; font-family: Poppins-Light;">Yes</button>
        </form> 
        <button class="btn btn-secondary" type="submit" name="cancel" id="cancel" onclick="goBack()"
        style="background-color: #CA9E7B; font-family: Poppins-Light">Cancel</button>
    </div>
    
    
</div>
    
{% endblock %}

{% block scripts %}
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}