{% extends 'base.html' %}
{% load static %}

{% block title %}Login and Sign Up{% endblock %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login_signup.css' %}">

{% endblock %}

{% block content %}

<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form method="POST" action="#">
            {% csrf_token %}
            
            <h1>Sign in</h1>
            <input type="text" name="username" id="username" placeholder="Username" style="margin-top: 35px" />
			<input type="password" name="password" id="password" placeholder="Password" style="margin-bottom: 25px" />
            <button type="submit">Sign In</button>

		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Thank you for registering!</h1>
				<p>Enter your personal details and start journey with us</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/login_signup.js' %}"></script>
{% endblock %}