@font-face {
    font-family: Welcome;
    src: url('/static/font/Welcome.ttf');
}
@font-face {
    font-family: Shorelines Script;
    src: url('/static/font/Shorelines_Script_Bold.otf');
}
@font-face {
    font-family: Poppins-Light;
    src: url('/static/font/Poppins-Light.ttf');
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url('/static/font/Poppins-SemiBold.ttf');
}

body{
    overflow-x: hidden;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position:center;
    background-image: url('/static/images/background-logout.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.form-logout {
    width: 50%;
    height: 50vh;

    margin: 25vh auto;
    border-radius: 15px;

    background-color: #8B5E3B;
    color: white;

    box-shadow: 10px 10px 5px #D6CAB0;
}

.form-logout h1 {
    font-family: Welcome;
    font-size: 125px;

    text-align: center;
}

.form-logout p {
    font-family: Poppins-Light;
    font-size: 20px;

    text-align: center;
}

.button-logout button {
    display: inline-block;
    margin: 5px auto;
}