@font-face {
    font-family: Welcome;
    src: url('/static/font/Welcome.ttf');
}
@font-face {
    font-family: Shorelines Script;
    src: url('/static/font/Shorelines_Script_Bold.otf');
}
@font-face {
    font-family: Poppins-Light;
    src: url('/static/font/Poppins-Light.ttf');
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url('/static/font/Poppins-SemiBold.ttf');
}

body{
    overflow-x: hidden;
}

.cari-buku {
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position:center;
    background-image: url('/static/images/background-book.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.cari-buku h1 {
    font-family: Welcome;
    font-size: 200px;

    text-align: center;

    color: #F7EEE5;

    margin-top: 10%;
}